name: NuGet Generation

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Update NuGet
    steps:

      - name: Checkout repository
        uses: actions/checkout@master

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Build projects
        run: dotnet build -c Release

      - name: Run tests
        run: dotnet test -c Release --no-restore --no-build --verbosity normal

      - name: Pack
        run: dotnet pack -c Release -o ./out

      - name: Push generated package to Nuget registry
        run: |
          for f in ./out/*.nupkg; 
          do  
            dotnet nuget push $f --api-key ${{ secrets.NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json --skip-duplicate
          done